body {
    margin : 0;
    padding : 0 ;
}

.navbar {
    background-color: white;
    height: 90px;
}

.logo {
 font-family: 'Fjalla One', sans-serif;
 font-weight: bold;
 font-size: 2em;
 color: #B80D20;
 position: relative;
 top: 11px;
}

.slogan {
    font-family: 'Fjalla One', sans-serif;
    font-weight: italic;
    font-size: 10px;
    color: #B80D20;

}

.form-control {
    width: 140%;
    height: 50px;
    margin-top: 17px;
    background-color: rgb(239,239,239);
}

.glyphicon {
    font-size: 25px;
}

input::placeholder {
    font-weight: bold;
    color: rgb(85,85,85);
}

.fa {
    color: rgb(85,85,85);
    font-size: 35px;
}

.fa-bars {
    margin-left: 9em;
    margin-top: 22px
}

.fa-user-circle {
  margin-left: 7em;
  position: fixed;
  top: 25px;

}
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);

    background: #fff;
}

.card-inverse .btn {
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    margin: 0;

}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;

}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
}

.meta a:hover {
    color: #DEDEDE;
}

.cardshare {
    margin-top: 10em;
}
